.Rproj.user
.Rhistory
.RData
inst/doc
vignettes/*_cache/
R/.old/
.old/
analysis/data/*
analysis/data*
!analysis/data/docs/*.pdf
!analysis/data/docs/*.docx
*~
*#
!.gitignore
!.Rbuildignore
*.#server.R
test.R
printed_stm.pdf
imm-prepared-corpus.RData
imm-stm-models-v1.RData
gadarian_stm_models.RData
